.container {
  padding-top: 40px;
  padding-bottom: 20px;
}

.title {
  font-family: "Comfortaa";
  font-size: 30px;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #000000;
  margin-bottom: 50px;
}

.pizza, .coffe {
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
}

