.container {
  padding-bottom: 20px;
}
.mainPage {
 
}

.slide {
  margin-bottom: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 38px;

  &__title {
    font-family: "Comfortaa";
    font-size: 56px;
    font-weight: 600;
    line-height: 91.5px;
    letter-spacing: 0.045em;
    text-align: left;
    color: #000000;
    margin-bottom: 25px;
  }
  &__text {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 34.5px;
    letter-spacing: 0.06em;
    text-align: left;
    color: #000000;
  }
  &__imageContainer {
    overflow: hidden;
    border-radius: 130px 0 0 130px;
    min-width: 50%;
    max-height: 506px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__image {
    height: 506px;
  }
}

.promotions {
  
  &__title {
    font-family: "Comfortaa";
    font-size: 30px;
    font-weight: 500;
    line-height: 61.5px;
    letter-spacing: 0.04em;
    text-align: center;
    margin-bottom: 7px;
  }

  &__text {
    font-family: "Comfortaa";
    font-size: 24px;
    font-weight: 400;
    line-height: 41.5px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  &__cards {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__imgContainer {
    width: 300px;
    height: 300px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__cardTitle {
    font-family: "Comfortaa";
    font-size: 24px;
    font-weight: 600;
    line-height: 31.5px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 10px;
  }

  &__cardIngridients {
    font-family: "Comfortaa";
    font-size: 16px;
    font-weight: 400;
    line-height: 21.5px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 10px;
  }

  &__cardPrice {
    font-family: "Comfortaa";
    font-size: 16px;
    font-weight: 400;
    line-height: 21.5px;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 10px;
    color: #fd6a00;
    display: flex;
    column-gap: 10px;
    justify-content: center;

    span:last-child {
      text-decoration: line-through;
      color: #000000;
    }
  }

  &__cardBtn {
    background: linear-gradient(
      93.66deg,
      #ff9839 7.09%,
      #ffa666 99.99%,
      #ffb885 100%
    );
    box-shadow: 2px 3px 5px 0px #ffac7180;
    font-family: "Raleway";
    font-size: 28px;
    font-weight: 600;
    line-height: 34.5px;
    letter-spacing: 0.06em;
    text-align: center;
    padding: 22px 96px;
    border-radius: 50px;
    color: #ffffff;
  }
}
